.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 377px;
  height: 378.5px;
  border-radius: 20px;
  /* border: solid black 1px; */
  margin: auto;
  margin-top: 20px;
  box-shadow: -3px 8px 31px 36px rgba(0, 0, 0, 0.1);
}
.active {
  /* background-color: black; */
  color: white;
  background-color: #3c82f6;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
}
.box button {
  color: red;
}
.todo-container h2 {
  margin-bottom: 20px;
}
.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.addTask input {
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 6px;
  border-radius: 5px;
  /* margin-top: 20px; */

  /* background-color: black; */
}
.addTask button {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #3c82f6;
  border-radius: 5px;
  color: white;
}
.activeThree {
  /* background-color: blue; */
  width: 345px;
  /* width: 90%; */
  height: 32px;
  display: flex;
  margin: 20px 0px;
  gap: 5px;
}
.activeThree button {
  width: 82px;
  height: 32px;
  border-radius: 5px;
}
